#content {
	text-align: center;
	padding-top: 25%;
}

body {
	background: url(https://wallpapercave.com/wp/BmvKpJK.jpg);
	background-image: cover;
	background-position: center;
	font-family: lato;
	color: #00ffdc;
}
html 	{
	height: 100%;
}
h1	{
	font-weight: 700;
	font-size: 5em;

}
hr	{
	width: 400px;
	border-top: 1px solid red;
}